<header class="site-header">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a class="bg-light" href="{{ "/" | relative_url }}">
            <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" class="logo">
          </a>
        </li>
      </ul>
      <ul>
        <li><a href="{{ "/posts" | relative_url }}">Posts</a></li>
        <li><a href="{{ "/search" | relative_url }}">Search</a></li>
        <!-- <li><a href="{{ "/contact" | relative_url }}">Contact</a></li> -->
      </ul>
    </nav>
  </div>
</header>