<!doctype html>
<html lang="en">

<head>
  {% include head.html %}


  {% if page.banner_image %}
    <style>
      .banner {
        --banner-image: url('{{ page.banner_image | relative_url }}');
      }
    </style>
  {% endif %}

</head>
<body>
  {% include header.html %}
  {% if page.banner_title or page.banner_tagline or page.banner_image %}
    {% include banner.html %}
  {% endif %}
  <main class="page">
    <div class="container">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}

  <script src="/assets/js/main.js"></script>
</body>
</html>